{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<script>
    // Check for the token when the page loads
    document.addEventListener("DOMContentLoaded", function() {
         var token = localStorage.getItem('token');
         if (!token) {
             // Redirect to login if token is not present
             window.location.href = "/login";  
         }
     });
</script>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
    <div class="square">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 mt-4">Incident and Case Management</h4>

                                <div class="page-title-right">
                                    <!-- <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{% url 'add_incident' %}"><strong>Add Incident</strong> </a></li>
                                        <li class="breadcrumb-item active">Incident and Case Management</li>
                                    </ol> -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="card">
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-lg-auto">
                                    <div class="hstack gap-2">
                                        <a href="{% url 'add_incident' %}" class="btn btn-primary">
                                            <i class="ri-add-line align-bottom me-1"></i> Add Incident
                                          </a>
                                          
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-3 col-auto">
                                    <div class="search-box">
                                        <input type="text" class="form-control search" id="search-task-options" placeholder="Search for Case Incident...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                               
                            </div>
                            <!--end row-->
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->

                    <div class="row h-100">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped display" style="width:100%" id="userList">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                    
                                                <th style="width: 20%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="IncidentsTableBody">
                                            
                                        </tbody>
                                    </table>
                                        <!-- Pagination buttons -->
                                <div class="d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous" onclick="loadPreviousPage()">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <!-- You can dynamically generate page buttons here -->
                                            <!-- For example, if you have 5 pages, you can create 5 buttons -->
                                            <li class="page-item"><a class="page-link pagination-link" href="#" data-page="1">1</a></li>
                                            <li class="page-item"><a class="page-link pagination-link" href="#" data-page="2">2</a></li>
                                            <li class="page-item"><a class="page-link pagination-link" href="#" data-page="3">3</a></li>
                                            <!-- Add more buttons as needed -->
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next" onclick="loadNextPage()">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                </div> <!-- end card-body-->
                            </div>
                        </div> <!-- end col-->
                    </div> <!-- end row h100-->
                    <!-- EDIT MODAL -->
                    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-modal="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Case Incident</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="javascript:void(0);">
                                        <div class="row">
                                            <div class="col-lg-6">
                                            <div class="asterisk">
                                                <label for="" class="form-label"><br>Case Title<span> *</span></label>
                                                <input type="text" class="form-control" id="case_title" placeholder="Enter Case Title">
                                            </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="asterisk">
                                                <label for="" class="form-label"></br>Date<span> *</span></label>
                                                <input type="date" class="form-control" id="happened">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6"> 
                                            <label class="form-label1" for="des-info-description-input"><br>Case Description</label>
                                            <textarea class="form-control" placeholder="Enter Description" id="description" rows="6" required></textarea>
                                           </div>
                                        <div class="col-lg-6"> 
                                            <div class="asterisk">
                                            <label for="Compliant" class="form-label1"><br>Status<span> *</span></label>
                                            <select class="form-select" id="status" required>
                                                <option value="" disabled selected>Select Status</option>
                                                <option value="ongoing">Ongoing</option>
                                                <option value="done">Done</option>
                                                <option value="pending">Pending</option>
                                                
                                            </select>
                                        </div>
                    
                                        <label for="formFile" class="form-label"><br>Upload File</label>
                                        <input class="form-control" type="file" id="formFile" />
                                    </div>
                                    
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6"> 
                                            <div class="asterisk">
                                            <label for="Compliant" class="form-label1"><br>Name of Complainant<span> *</span></label>
                                            <input type="form" class="form-control" id="complainant" placeholder="Name of Compliant" required>
                                        </div>
                                    </div>
                    
                                        <div class="col-lg-6"> 
                                            <div class="asterisk">
                                            <label for="" class="form-label1"><br>Subject to Complaint<span> *</span></label>
                                            <input type="form" class="form-control" id="subject_complaint" placeholder="Subject to Complaint" required>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-6"> 
                                        <div class="asterisk">
                                        <label for="" class="form-label1"><br>Name of Witness<span> *</span></label>
                                        <input type="form" class="form-control" id="witness" placeholder="Name of Witness" required>
                                    </div>
                                </div>
                            
                                    <div class="col-lg-6"> 
                                        <div class="asterisk">
                                        <label for="" class="form-label1"><br>Place<span> *</span></label>
                                        <input type="form" class="form-control" id="place" placeholder="Place" required>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-lg-6"> 
                                    <div class="asterisk">
                                    <label for="" class="form-label1"><br>Name of Officer<span> *</span></label>
                                    <input type="form" class="form-control" id="officer" placeholder="Name of Officer in charge" required>
                                </div>
                            </div>
                            </div>
                                            <div class="mt-4">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button class="btn btn-primary waves-effect waves-light cancel-button" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Cancel</button>
                                                    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-body text-center p-5">
                                                                    <div class="mt-4">
                                                                        <h4 class="mb-3">Are you sure you want to cancel?</h4>
                                                                        <div class="hstack gap-2 justify-content-center">
                                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                                                                            <a href="{% url 'incident_logs' %}" class="btn btn-danger">Yes</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                    <button type="button" class="btn btn-success waves-effect waves-light save-button" data-bs-toggle="modal" data-bs-target="#firstmodal">Save</button>
                                                    <!-- First modal dialog -->
                                                            <div class="modal fade" id="firstmodal" aria-hidden="true" tabindex="-1">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body text-center p-5">
                                                                            <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f7b84b,secondary:#405189" style="width:130px;height:130px">
                                                                            </lord-icon>
                                                                            <div class="mt-4 pt-4">
                                                                                <h4>Are you sure you want to save it?</h4>
                                                                             <!-- Toogle to second dialog -->
                                                                             <button class="btn btn-light" data-bs-target="#firstmodal" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                                                             <a href ="{% url 'add_incident' %}"class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#secondmodal" id="confirmSubmitBtn">Yes</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Second modal dialog -->
                                                            <div class="modal fade" id="secondmodal" aria-hidden="true" tabindex="-1">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body text-center p-5">
                                                                            <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:150px;height:150px">
                                                                            </lord-icon>
                                                                            <div class="mt-4 pt-3">
                                                                                <h4 class="mb-3">Your forms are succesfully saved!</h4>
                                                                                <div class="hstack gap-2 justify-content-center">
                                                                                    <a href="{% url 'add_incident' %}"  class="btn btn-light">Close</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                 </div><!-- end save button -->
                                            </div><!-- end button container -->
                                                    
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Modal BOdy -->
        </div>
        </div>
        </div>
        </div>
        </div>
 <!-- VIEW MODAL -->
                                
            <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-modal="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewModalLabel">Case Incident</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="" class="form-label"><br>Case Title</label>
                                        </div>
                                        <div class="col-lg-8">
                                        <input type="text" class="form-control" id="" placeholder="Enter Case Title">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="" class="form-label"></br>Date</label>
                                        </div>
                                        <div class="col-lg-8">
                                        <input type="date" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"> 
                                    <label class="form-label1" for="des-info-description-input"><br>Case Description</label></div>
                                    <div class="col-lg-8">
                                    <textarea class="form-control" placeholder="Enter Description" id="des-info-description-input" rows="6" required></textarea>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-lg-4"> 
                                    <label for="Compliant" class="form-label1"><br>Status</label>
                                    </div>
                                    <div class="col-lg-8">
                                    <select class="form-select" id="suffix" required>
                                        <option value="" disabled selected>Select Status</option>
                                        <option value="ongoing">Ongoing</option>
                                        <option value="done">Done</option>
                                        <option value="pending">Pending</option>
                                        
                                    </select>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                <label for="formFile" class="form-label"><br>Upload File</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control" type="file" id="formFile" />
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"> 
                                    <label for="Compliant" class="form-label1"><br>Name of Complainan</label></div>
                                    <div class="col-lg-8">
                                    <input type="form" class="form-control" id="" placeholder="Name of Compliant" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"> 
                                    <label for="" class="form-label1"><br>Subject to Complaint</label>
                                    </div>
                                    <div class="col-lg-8">
                                    <input type="form" class="form-control" id="" placeholder="Subject to Complaint" required>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-4"> 
                                <label for="" class="form-label1"><br>Name of Witness</label></div>
                                <div class="col-lg-8">
                                <input type="form" class="form-control" id="" placeholder="Name of Witness" required>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-lg-4"> 
                                <label for="" class="form-label1"><br>Place</label></div>
                                <div class="col-lg-8">
                                <input type="form" class="form-control" id="" placeholder="Place" required>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4"> 
                            <label for="" class="form-label1"><br>Name of Officer</label></div>
                        <div class="col-lg-8">
                            <input type="form" class="form-control" id="" placeholder="Name of Officer in charge" required>
                        </div>
                    </div>
                                    <div class="mt-4">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button class="btn btn-primary waves-effect waves-light cancel-button" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Cancel</button>
                                            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center p-5">
                                                            <div class="mt-4">
                                                                <h4 class="mb-3">Are you sure you want to cancel?</h4>
                                                                <div class="hstack gap-2 justify-content-center">
                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                                                                    <a href="{% url 'incident_logs' %}" class="btn btn-danger">Yes</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                            <button type="button" class="btn btn-success waves-effect waves-light save-button" data-bs-toggle="modal" data-bs-target="#firstmodal">Save</button>
                                            <!-- First modal dialog -->
                                                    <div class="modal fade" id="firstmodal" aria-hidden="true" tabindex="-1">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-body text-center p-5">
                                                                    <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f7b84b,secondary:#405189" style="width:130px;height:130px">
                                                                    </lord-icon>
                                                                    <div class="mt-4 pt-4">
                                                                        <h4>Are you sure you want to save it?</h4>
                                                                    <!-- Toogle to second dialog -->
                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Second modal dialog -->
                                                    <div class="modal fade" id="secondmodal" aria-hidden="true" tabindex="-1">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-body text-center p-5">
                                                                    <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:150px;height:150px">
                                                                    </lord-icon>
                                                                    <div class="mt-4 pt-3">
                                                                        <h4 class="mb-3">Your forms are succesfully saved!</h4>
                                                                        <div class="hstack gap-2 justify-content-center">
                                                                            <a href="{% url 'add_incident' %}"  class="btn btn-light">Close</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                        </div><!-- end save button -->
                                    </div><!-- end button container -->
                                        




 



{% block css %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6Xa5Bo7MI/iuhFNG5ijiYl8a+W6bF2Go" crossorigin="anonymous">

    <link href="{% static 'css/incident_case.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    // function confirmDelete() {
    //   // Display a confirmation dialog
    //   var confirmation = confirm("Are you sure you want to delete?");

    //   // If the user clicks OK, submit the form
    //   if (confirmation) {
    //     document.getElementById("deleteForm").submit();
    //   }
    //   // If the user clicks Cancel, do nothing
    // }
    // function confirmSave() {
    //   // Display a confirmation dialog
    //   var confirmation = confirm("Are you sure you want to save?");

    //   // If the user clicks OK, submit the form
    //   if (confirmation) {
    //     document.getElementById("saveForm").submit();
    //   }
    //   // If the user clicks Cancel, do nothing
    // }

    $(document).ready(function () {
    // Function to load barangay official data with pagination
    function loadIncidents(page = 1, searchTerm = "") {
        $.ajax({
            url: "http://127.0.0.1:8000/incidents/getp?page=" + page + "&limit=10&search=" + encodeURIComponent(searchTerm),
            type: "GET",
            headers: {
                "Authorization": "Bearer " + localStorage.getItem('token')
            },
            success: function (data) {
                // Clear existing data
                $("#IncidentsTableBody").empty();

                // Check if barangay officials data is available
                if (data.data.length > 0) {
                    // Iterate through barangay officials and append rows to the table
                    $.each(data.data, function (index, incident) {
                        var row = '<tr>' +
                            '<td>' + incident.case_title + ' ' + incident.status + ' ' + incident.place  + '</td>' +
                            '<td>' + incident.happened + '</td>' +
                            '<td>'+
                            '<button class="btn btn-soft-secondary edit-btn" data-incidentid="' + incident.id + '" type="button" data-bs-toggle="modal" data-bs-target="#editModal">' +
                            '<a href="#" class="dropdown-item"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>' +
                            '</button>' +
                           '<button class="btn btn-soft-success" data-incidentid="' + incident.id + ' " type="button" data-bs-toggle="modal" aria-expanded="false" data-bs-target="#viewModal">' +
                           '<a href="#" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a>' +
                           '</button>' +
                            
                            '<button class="btn btn-soft-primary delete-btn" data-incidentid="' + incident.id + '" type="button" aria-expanded="false">' +
                            '<a href="#" class="dropdown-item" onclick="event.preventDefault();"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a>' +
                            '</button>' +
                            '</td>' +
                            '</tr>';

                        // Append the row to the table body
                        $("#IncidentsTableBody").append(row);
                    });
                } else {
                    // Handle case when no barangay officials are found
                    $("#IncidentsTableBody").html('<tr><td colspan="5">No Incidents found</td></tr>');
                }
            },
            error: function () {
                // Handle error case
                console.error('Error fetching Incidents data.');
            }
        });
    }

    // Search input change event handler
    $("#searchInput").on("input", function () {
        var searchTerm = $(this).val();
        loadIncidents(1, searchTerm);
    });

    // Initial load of barangay officials data
    loadIncidents();

    // Function to dynamically generate pagination buttons
    function generatePaginationButtons(totalPages) {
     var paginationContainer = $(".pagination");
     paginationContainer.empty();

    for (var i = 1; i <= totalPages; i++) {
    var button = '<li class="page-item"><a class="page-link pagination-link" href="#" data-page="' + i + '">'+ i + '">'+ i + '">' + i + '</a></li>';
    paginationContainer.append(button);
    }
}

    // Pagination click event handler
        $(document).on("click", ".pagination-link", function (event) {
            event.preventDefault();
            var page = $(this).attr("data-page");
            loadIncidents(page);
        });

    // Variable to store the current page
            var currentPage = 1;

    // Function to load the next page
        function loadNextPage() {
            currentPage++;
            loadIncidents(currentPage);
        }

    // Function to load the previous page
        function loadPreviousPage() {
            if (currentPage > 1) {
                currentPage--;
                loadIncidents(currentPage);
            }
        }


   // DELETE MODAL POP UP----------------------
   $(document).on("click", ".delete-btn", function (event) {
    event.preventDefault();
    event.stopPropagation();

    var incidentId = $(this).data("incidentid");

    if (confirm("Are you sure you want to delete this incident?")) {
        deleteResident(incidentId);
    }
});

// DELETE RESIDENT---------------------------
function deleteResident(incidentId) {
    $.ajax({
        url: "http://127.0.0.1:8000/incidents/" + incidentId,
        type: "DELETE",
        headers: {
            "Authorization": "Bearer " + localStorage.getItem('token')
        },
        success: function (data) {
       
            loadincidents();
        },
        error: function () {
            // Handle error case
            console.error('Error deleting barangay official.');
        }
    });
}


        // FOR EDIT MODAL Attach a click event handler to the edit buttons--------------------------------------
        $(document).on("click", ".edit-btn", function () {
            var incidentId = $(this).data("incidentid");

            // Set the barangay ID to the modal data attribute
            $('#editModal').data('incident-id', incidentId);
            

            // Call the function to get specific resident data by ID
            getIncident(incidentId);
        });

        // Function to get specific resident data by ID
        function getIncident(incidentId) {
            console.log('Getting barangay official with ID:',  incidentId);
            $.ajax({
                url: "http://127.0.0.1:8000/incidents/" +  incidentId,
                type: "GET",
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem('token')
                },
                success: function (data) {
                    // Populate the form fields with the resident data
                    populateFormWithData(data.data);

                    // Open the modal for editing
                    $('#editModal').modal('show');
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle error case
                    console.error('Error fetching barangay official data:', textStatus, errorThrown);
                }
            });
        }

        // Function to populate form fields with barangay official data
        function populateFormWithData(incidentData) {
            // Assuming you have form fields with corresponding IDs, update their values
            $('#case_title').val(incidentData.case_title);
            $('#description').val(incidentData.case_description);
            $('#status').val(incidentData.status);
            $('#happened').val(incidentData.happened);
            $('#complainant').val(incidentData.complainant);
            $('#subject_complaint').val(incidentData.subject_complaint);
            $('#officer').val(incidentData.officer);
            $('#witness').val(incidentData.witness);
            $('#place').val(incidentData.place);
            
            // Repeat this for other form fields

            // Update the image in the Image container
            $('#previewImage').attr('src', 'data:image/jpeg;base64,' + incidentData.photo_path);
        }

         // Attach a submit event handler to the form
         $(document).on("submit", "form", function (event) {
// Prevent the default form submission
event.preventDefault();

// Display a confirmation dialog
var isConfirmed = confirm("Are you sure you want to edit this Incident?");

// Check if the user confirmed the action
if (isConfirmed) {
    // Get the barangay official ID from the form or any other source you have
    var incidentId = getincidentId(); // Implement the function to get the barangayOfficialId

    console.log('Incident ID:', incidentId); // Log the barangayOfficialId before making the request

    // Call the function to update resident data by ID
    updateincidentId(incidentId);
}
});

        // Function to update resident data by ID
        function updateincidentId(incidentId) {
            var incidentData = getFormData();
            console.log('Sending data to server:',incidentData);

            $.ajax({
                url: "http://127.0.0.1:8000/incidents/" + incidentId,
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(incidentData),
                dataType: 'json',
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem('token')
                },
                success: function (data) {
                    console.log("Barangay Official updated successfully");
                    // You might want to close the modal or perform other actions upon success
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error updating resident data:', textStatus, errorThrown);
                }
            });
        }

      // Function to gather form data into an object
function getFormData() {
    // Create an object to store form data
    var incidentData = {
        case_title: $('#case_title').val(),
        case_description: $('#description').val(),
        status: $('#status').val(),
        subject_complaint: $('#subject_complaint').val(),
        place: $('#place').val(),
        witness: $('#witness').val(),
        officer: $('#officer').val(),
        happened: $('#happened').val(),
        complainant: $('#complainant').val(),
        

        
        // Add other form fields here
        photo_path: $('#previewImage')
    };

    // Return the object
    return incidentData;
}

        // Function to get the resident ID (you need to implement this based on your application logic)
        function incidentId() {
            // Implement the logic to retrieve the resident ID
            // For example, if you have stored the resident ID in a data attribute of the form:
            return $('#editModal').data('incident-id');
        }
    });


//IMAGE ---------------
  // This function will set the src attribute of the previewImage when the modal is shown
  $('#editModal').on('shown.bs.modal', function (e) {
    // Assume imageData is the base64-encoded image data you get from your backend
    var imageData = "data:image/png;base64," + yourBase64ImageData;
    $('#previewImage').attr('src', imageData);
});



//SECURITY--------------
   // Check for the token when the page loads
   document.addEventListener("DOMContentLoaded", function() {
         var token = localStorage.getItem('token');
         if (token) {
             // Show the services content if the token is present
             document.getElementById('whole-content').style.display = 'block';
         } else {
             // Redirect to login if token is not present
             window.location.href = "/login";  // Adjust the login page URL if necessary
         }
     });












  </script>

{% endblock %}

{% endblock %}

