<div id="whole-content" style="display: none;">
{% extends 'main/index.html' %}
{% load static %}
{% block content %}
  
  
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="square">
                <div class="container-fluid">
                    <div class="row justify-content-start" >
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex justify-content-between">
                                    <h4 class="mb-sm-0">Personnel Record</h4>
                                </div>
                                <!-- end card header -->
                                <div class="card-body">
                                    <div class="live-preview">
                                        <br>
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                    <label for="firstname" class="form-label">First Name <span>*</span></label>
                                                    <input type="form" class="form-control" id="first_name" placeholder="First Name">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                    <label for="labelInput" class="form-label">Middle Name <span>*</span></label>
                                                    <input type="form" class="form-control" id="middle_name" placeholder="Middle Name" >
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk"> 
                                                    <label for="lastname" class="form-label">Last Name <span>*</span></label>
                                                    <input type="form" class="form-control" id="last_name" placeholder="Last Name" >
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-md-6">
                                               <div class="asterisk">
                                                        <label for="Suffix" class="form-label">Suffix</label>
                                                        <div class="input-group">
                                                            <select class="form-select" id="suffix" >
                                                                <option value="" disabled selected>Select a suffix</option>
                                                                <option value="Sr.">Sr.</option>
                                                                <option value="Jr.">Jr.</option>
                                                                <option value="I">I</option>
                                                                <option value="II">II</option>
                                                                <option value="III">III</option>
                                                            </select>
                                                        </div>
                                                        </div>
                                                    </div>
                                            
                                            <!--end col-->
                                     
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                    <label for="exampleInputdate" class="form-label">Birthday <span>*</span></label>
                                                    <input type="date" class="form-control" id="birthday" >
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                    <label for="email" class="form-label">Email <span>*</span></label>
                                                    <div class="form-icon right">
                                                        <input type="email" class="form-control form-control-icon" id="email" placeholder="example@gmail.com" >
                                                        <i class="ri-mail-unread-line"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                            
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                    <label for="phonenum" class="form-label">Contact Number <span>*</span></label>
                                                    <div class="form-icon right">
                                                        <input type="text" class="form-control form-control-icon" id="contact_no" placeholder="09*******" >
                                                        <i class="ri-phone-line"></i>
                                                </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                      
                                            <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                <label for="Occupation" class="form-label">Position <span>*</span></label>
                                                <select class="form-select" id="position" required onchange="showAdditionalFieldsPosition()">
                                                    <option value="" disabled selected>Select Position</option>
                                                    <option value="Secretary">Secretary</option>
                                                    <option value="Treasurer">Treasurer</option>
                                                    <option value="Health Worker">Health Worker</option>
                                                    <option value="Tanod">Tanod</option>

                                                    
                                                </select>
                                                </div>
                                            </div>
                                              <!-- Insert Photo -->
                                              <div class="col-xxl-3 col-md-6">
                                                <div class="asterisk">
                                                    <label for="formFile" class="form-label">Profile Photo <span>*</span></label>
                                                    <input class="form-control" type="file" id="formFile" name="photo_path">
                                                </div>
                                            </div>
                                       
                                               <!-- start of buttons -->
                                                <div class="card-body">
                                                    <div class="live-preview">
                                                        <div class="button-container">
                                                            <!-- cancel button with modals -->
                                                            <button class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Cancel</button>
                                                            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body text-center p-5">
                                                                            <div class="mt-4">
                                                                                <h4 class="mb-3">Are you sure you want to cancel?</h4>
                                                                                <div class="hstack gap-2 justify-content-center">
                                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                                                                                    <a href="javascript:void(0);" class="btn btn-danger">Yes</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div><!-- /.modal-dialog -->
                                                            </div><!-- /.modal -->
                                                        <div class="save-button">
                                                            <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#firstmodal">Save</button>
                                                                    <!-- First modal dialog -->
                                                                            <div class="modal fade" id="firstmodal" aria-hidden="true" tabindex="-1">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body text-center p-5">
                                                                                            <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f7b84b,secondary:#405189" style="width:130px;height:130px">
                                                                                            </lord-icon>
                                                                                            <div class="mt-4 pt-4">
                                                                                                <h4>Are you sure you want to save it?</h4>
                                                                                             <!-- Toogle to second dialog -->
                                                                                             <button class="btn btn-light" data-bs-target="#firstmodal" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                                                                             <button class="btn btn-warning" data-bs-target="#secondmodal" data-bs-toggle="modal" data-bs-dismiss="modal" onclick="submitForm()">Yes</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Second modal dialog -->
                                                                            <div class="modal fade" id="secondmodal" aria-hidden="true" tabindex="-1">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body text-center p-5">
                                                                                            <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:150px;height:150px">
                                                                                            </lord-icon>
                                                                                            <div class="mt-4 pt-3">
                                                                                                <h4 class="mb-3">Your forms are succesfully saved!</h4>
                                                                                                <div class="hstack gap-2 justify-content-center">
                                                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end save button -->
                                                                    </div><!-- end button container -->
                                                                </div><!-- end live preview -->
                                                            </div><!-- end card body (Start button) -->
                                                        </div> <!--end col lg emergency info-->
                                                    </div><!--card-body start personal info--> 
                                                </div><!--card personal info--> 
                                             </div><!--col lg personal info-->
                                        </div><!-- row personal info -->
                                    </div><!-- end container fluid -->
                                </div><!--end of square-->   
                                </div><!--div protection-->
                                            

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{%static 'js/occupation' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--CONNECTION CLIENT TO SERVER-->
    <script>
    
    // Function to handle form submission
    function submitForm() {
        // Create a FormData object
        var formData = new FormData();
    
        // Append form fields to formData
        formData.append('first_name', $('#first_name').val());
        formData.append('middle_name', $('#middle_name').val());
        formData.append('last_name', $('#last_name').val());
        formData.append('suffix', $('#suffix').val());
        formData.append('birthday', $('#birthday').val());
        formData.append('contact_no', $('#contact_no').val());
        formData.append('email', $('#email').val());
        formData.append('position', $('#position').val());
    
    
        var fileInput = $('#formFile')[0];
    
        if (fileInput.files.length > 0) {
            formData.append('photo_path', fileInput.files[0]);
        } else {
            console.error("No file selected");
            return;
        }
    
        console.log("Form Data:", formData);
    
        $.ajax({
            url: 'http://127.0.0.1:8000/personnels/add',
            type: 'POST',
            headers: {
                "Authorization": "Bearer " + localStorage.getItem('token')
            },
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                console.log(response);
            },
            error: function(xhr, status, error) {
                console.error("AJAX Error:", status, error);
                var responseJSON = xhr.responseJSON;
                if (responseJSON && responseJSON.detail) {
                    console.error("Detailed Error:", responseJSON.detail);
                }
            }
        });
    }
    
     //SECURITY
         // Check for the token when the page loads
         document.addEventListener("DOMContentLoaded", function() {
             var token = localStorage.getItem('token');
             if (token) {
                 // Show the services content if the token is present
                 document.getElementById('whole-content').style.display = 'block';
             } else {
                 // Redirect to login if token is not present
                 window.location.href = "/login";  // Adjust the login page URL if necessary
             }
         });
    </script>
    {% endblock %}

{% endblock %}

