

{% load static %}
   <link rel="stylesheet" href="{% static 'css/signup.css' %}">
   <link href="{% static 'libs/jsvectormap/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

   <!-- Layout config Js -->
   <script src="{% static 'js/layout.js' %}"></script>
   <!-- Bootstrap Css -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
   <!-- Icons Css -->
   <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
   <!-- App Css-->
   <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />
   <!-- custom Css-->
   <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css" />


<!-- Include Select2 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

<body>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
   
        <div class="square">
         <div class="container-fluid">
                    <div class="row justify-content-start" >
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header align-items-center d-flex justify-content-between">
                                    <h4 class="mb-sm-0">Barangay Account Registration Form - Page 2</h4>
                                </div>
                                <!-- end card header -->
                                <div class="card-body">
                                    <div class="live-preview">
                                        <div class="row gy-2">
                                         <div class="col-xxl-6 col-md-12">
                                            <div class="asterisk">
                                            <label for="Region" class="form-label">Region<span>*</span></label>
                                            <select class="form-select" id="District" required>
                                                <option value="" disabled selected>Select Region</option>
                                                <option value="">Region</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                            </div>
                                        </div>
                                        <!-- Provinces -->
                                        <div class="col-xxl-6 col-md-12">
                                            <div class="asterisk">
                                            <label for="Provinces" class="form-label">Provinces<span>*</span></label>
                                            <select class="form-select" id="District" required onchange="">
                                                <option value="" disabled selected>Select Provinces</option>
                                                <option value="">Provinces</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                            </div>
                                        </div>
                                        <!-- Municipality -->
                                        <div class="col-xxl-6 col-md-12">
                                            <div class="asterisk">
                                            <label for="Municipality" class="form-label">Municipality<span>*</span></label>
                                            <select class="form-select" id="District" required onchange="">
                                                <option value="" disabled selected>Select Municipality</option>
                                                <option value="">Municipality</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                            </div>
                                        </div>
                                        <!-- District -->
                                        <div class="col-xxl-6 col-md-12">
                                            <div class="asterisk">
                                            <label for="District" class="form-label">District<span>*</span></label>
                                            <select class="form-select" id="District" required onchange="">
                                                <option value="" disabled selected>Select District</option>
                                                <option value="">District</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                            </div>
                                        </div>
                                         <!--Barangay-->
                                         <div class="col-xxl-6 col-md-12">
                                            <div class="asterisk">
                                            <label for="Barangay" class="form-label">Barangay<span>*</span></label>
                                            <select class="form-select" id="District" required onchange="">
                                                <option value="" disabled selected>Select Barangay</option>
                                                <option value="">Barangay</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                            </div>
                                        </div>      
                                               <!-- start of buttons -->
                                                <div class="card-body">
                                                    <div class="live-preview">
                                                        <div class="button-container">
                                                            <!-- cancel button with modals -->
                                                    
                                                            <button class="btn btn-primary waves-effect waves-light" onclick="window.location.href='/SignUp/'">Back</button>
                                                           
                                                        <div class="submit-button">
                                                            <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#firstmodal">Submit</button>
                                                                    <!-- First modal dialog -->
                                                                            <div class="modal fade" id="firstmodal" aria-hidden="true" tabindex="-1">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body text-center p-5">
                                                                                            <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f7b84b,secondary:#405189" style="width:130px;height:130px">
                                                                                            </lord-icon>
                                                                                            <div class="mt-4 pt-4">
                                                                                                <h4>Are you sure you want to submit it?</h4>
                                                                                             <!-- Toogle to second dialog -->
                                                                                             <button class="btn btn-light" data-bs-target="#firstmodal" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                                                                            <button class="btn btn-warning" data-bs-target="#secondmodal" data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Second modal dialog -->
                                                                            <div class="modal fade" id="secondmodal" aria-hidden="true" tabindex="-1">
                                                                                <div class="modal-dialog modal-dialog-centered">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-body text-center p-5">
                                                                                            <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:150px;height:150px">
                                                                                            </lord-icon>
                                                                                            <div class="mt-4 pt-3">
                                                                                                <h4 class="mb-3">Your forms are succesfully saved!</h4>
                                                                                                <div class="hstack gap-2 justify-content-center">
                                                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                            </div>
                                                                         </div>
                                                                 </div><!-- end save button -->
                                                            </div><!-- end button container -->
                                                        </div><!-- end live preview -->
                                                    </div><!-- end card body (Start button) -->
                                                </div> <!--end col lg emergency info-->
                                            </div><!--card-body start personal info--> 
                                        </div><!--card personal info--> 
                                     </div><!--col lg personal info-->
                                </div><!-- row personal info -->
                            </div><!-- end container fluid -->
                        </div><!--end of square-->
                    
                                                                                    
                                            
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- prismjs plugin -->
    <script src="{% static 'libs/prismjs/prism.js' %}"></script>

    <!-- Lord Icon -->
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>

    <!-- Modal Js -->
    <script src="{% static 'js/pages/modal.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>

    <script src="{% static 'js/form.js' %}"></script>
    
    <!-- Include jQuery (required for Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Select2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


    
                                          
 </body>
 </html>