{% extends 'main/index.html' %}
{% load static %}
{% block content %}



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
   <div class="space">
        <div class="square">
         <div class="container-fluid">
                    <div class="row justify-content-start" >
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header align-items-center d-flex justify-content-between">
                                    <h4 class="mb-sm-0">Barangay Account Registration Form</h4>
                                </div>
                                <!-- end card header -->
                            <form id="configForm">
                                <div class="card-body">
                                    <div class="live-preview">
                                            <div class="row gy-2">
                                                <div class="col-xxl-6 col-md-12">
                                                    <div class="asterisk">
                                                        <label for="regions" class="form-label">Region<span>*</span></label>
                                                        <select class="form-select" id="regions" required>
                                                            <option value="" disabled selected>Select Region</option>
                                                        </select>
                                                    </div>
                                                    
                                               </div>
                                               <!-- Provinces -->
                                               <div class="col-xxl-6 col-md-12">
                                                   <div class="asterisk">
                                                       <label for="provinces" class="form-label">Provinces<span>*</span></label>
                                                       <select class="form-select" id="provinces" required>
                                                            <option value="" disabled selected>Select Provinces</option>
                                                   </select>
                                                   </div>
                                               </div>
                                               <!-- Municipality -->
                                               <div class="col-xxl-6 col-md-12">
                                                   <div class="asterisk">
                                                   <label for="Municipality" class="form-label">Municipality<span>*</span></label>
                                                   <select class="form-select" id="municipalities" required>
                                                       <option value="" disabled selected>Select Municipality</option>
                                                       <option value="">Municipality</option>
                                                   </select>
                                                   </div>
                                               </div>
                                               <!-- District -->
                                               <div class="col-xxl-6 col-md-12">
                                                   <div class="asterisk">
                                                   <label for="District" class="form-label">District<span>*</span></label>
                                                   <select class="form-select" id="districts" required >
                                                       <option value="" disabled selected>Select District</option>
                                                   </select>
                                                   </div>
                                               </div>
                                           
                                                <!--Barangay-->
                                                <!--
                                                <div class="col-xxl-6 col-md-12">
                                                   <div class="asterisk">
                                                   <label for="Barangay" class="form-label">Barangay<span>*</span></label>
                                                   <select class="form-select" id="barangays" required>
                                                       <option value="" disabled selected>Select Barangay</option>
                                                       <option value="">Barangay</option>
                                                   </select>
                                                   </div>
                                               </div>
                                               </div>
                                                -->
                                                <div>
                                                    <br>
                                                    <label for ="barangays">Barangay*</label>
                                                    <br>
                                                    <input type="text" id="barangays">
                                                </div>

                                               <div class="modal-footer">
                                            </form>
                                                <div class="submit-button">
                                                  <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#firstmodal">Submit</button>
                                                          <!-- First modal dialog -->
                                                                   <div class="modal fade" id="firstmodal" aria-hidden="true" tabindex="-1">
                                                                      <div class="modal-dialog modal-dialog-centered">
                                                                          <div class="modal-content">
                                                                              <div class="modal-body text-center p-5">
                                                                                  <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f7b84b,secondary:#405189" style="width:130px;height:130px">
                                                                                  </lord-icon>
                                                                                  <div class="mt-4 pt-4">
                                                                                      <h4>Are you sure you want to submit it?</h4>
                                                                <!-- Toogle to second dialog  -->
                                                                                   <button class="btn btn-light"  data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                                                                   <button class="btn btn-warning" data-bs-dismiss="modal" id="SubmitBtn">Yes</button>
                                                                                  </div>
         
                                                                 
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div> 
                                                                   <!-- Second modal dialog -->
                                                                   <div class="modal fade" id="secondmodal" aria-hidden="true" tabindex="-1">
                                                                      <div class="modal-dialog modal-dialog-centered">
                                                                          <div class="modal-content">
                                                                              <div class="modal-body text-center p-5">
                                                                                  <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:150px;height:150px">
                                                                                  </lord-icon>
                                                                                  <div class="mt-4 pt-3">
                                                                                        <h4 class="mb-3">Your forms are succesfully saved!</h4>
                                                                                      <div class="hstack gap-2 justify-content-center">
                                                                                          <button type="button" class="btn btn-light" data-bs-dismiss="modal" onclick="window.location.href='/services/'">Close</button>
                                                                                      </div> 
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                  </div>
                                                               </div>
                                                       </div> <!-- end of submit-button -->
                                              </div>
                                            </div>
                                          </div>
                                        </div>                  
                                    
                                                        </div><!-- end live preview -->
                                                    </div><!-- end card body -->
                                                
                                            </div><!--card-body start personal info--> 
                                        </div><!--card personal info--> 
                                     </div><!--col lg personal info-->
                            </div><!-- container fluid-->
                            
                    </div><!-- end square -->
             </div><!--end of space-->
                
                        
{% block css %}
<link rel="stylesheet" href="{% static 'css/system_config.css' %}">
{% endblock %}

{% block js %}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
//CHECK FOR TOKEN
document.addEventListener("DOMContentLoaded", function() {
         var token = localStorage.getItem('token');
         if (!token) {
             // Redirect to login if token is not present
             window.location.href = "/login";  
         }
     });

//GET REGION DATA
  $.ajax({
    url: 'https://psgc.gitlab.io/api/regions/',
    type: 'GET',
    dataType: 'json',
    success: function (data) {
        // Loop through the data and append options to the select element
        $.each(data, function (index, regions) {
            $('#regions').append('<option value="' + regions.name + '">' + regions.name  + '</option>');
        });
    },
    error: function (error){
        console.log('Error fetching data:', error);
    }
});

//GET PROVINCES DATA
$.ajax({
    url: 'https://psgc.gitlab.io/api/provinces',
    type: 'GET',
    dataType: 'json',
    success: function(data){
     $.each(data, function (index, provinces) {
        $('#provinces').append('<option value="' + provinces.name + '">' + provinces.name  + '</option>');
    });
},
error: function (error){
        console.log('Error fetching data:', error);
    }
})

//GET MUNICIPALITY DATA
$.ajax({
    url: 'https://psgc.gitlab.io/api/municipalities',
    type: 'GET',
    dataType: 'json',
    success: function(data){
     $.each(data, function (index, municipalities) {
        $('#municipalities').append('<option value="' + municipalities.name + '">' + municipalities.name  + '</option>');
    });
},
error: function (error){
        console.log('Error fetching data:', error);
    }
})

//GET DISTRICT DATA
$.ajax({
    url: 'https://psgc.gitlab.io/api/districts',
    type: 'GET',
    dataType: 'json',
    success: function(data){
     $.each(data, function (index, districts) {
        $('#districts').append('<option value="' + districts.name + '">' + districts.name  + '</option>');
    });
},
error: function (error){
        console.log('Error fetching data:', error);
    }
})

//GET BARANGAY DATA
//$.ajax({
   // url: 'https://psgc.gitlab.io/api/barangays/',
   // type: 'GET',
   // dataType: 'json',
   // success: function(data){
   //  $.each(data, function (index, barangays) {
   //     $('#barangays').append('<option value="' + barangays.name + '">' + barangays.name  + '</option>');
   // });
//},
//error: function (error){
    //    console.log('Error fetching data:', error);
   // }
//})
                                                          
//POST METHOD
$(document).ready(function () {
 // Handle the actual form submission in the second modal
 $("#SubmitBtn").unbind('click').click(function (event) {
        event.preventDefault();

        var token = localStorage.getItem('token');
        if (!token) {
            console.error('No token found');
            return;
        }
  
        // Serialize the form data as JSON
        var formData = {
            region: $('#regions').val(),
            province: $('#provinces').val(),
            district: $('#districts').val(),
            municipality: $('#municipalities').val(),
            barangay: $('#barangays').val()
        };

        $.ajax({
            url: 'http://127.0.0.1:8000/configurations/add',
            type: "POST",
            dataType: "json",
            headers: {
                'Authorization': 'Bearer ' + token, 
                'Content-Type': 'application/json',
            },
            contentType: 'application/json',
            data: JSON.stringify(formData),
            dataType: 'json',
            success: function (data) {
                // Handle the success response as needed
                console.log("Configuration set successfully!");
                // Close the second modal after success
                $('#secondmodal').modal('hide');
            },
            error: function (error) {
                console.error('An error occurred:', error.responseText);
            }
        });
    });
});
</script>
</script>


{% endblock %}
{% endblock %}