{% extends 'main/index.html' %}
{% load static %}
{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
       <div class="square">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Create Project</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                    <div class="col-lg-4">
                                            <div class="asterisk">
                                                <label class="form-label" for="project-title-input">Project Title <span>*</span></label>
                                             <input type="text" class="form-control" id="title" placeholder="Enter project title">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="asterisk">
                                            <label for="choices-status-input" class="form-label">Project Type<span> *</span></label>
                                            <select class="form-select"  id="projType">
                                                <option value="Medical Mission">Medical Mission</option>
                                                <option value="Feeding Program">Feeding Program</option>
                                                <option value="Community Service">Community Service</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4">
                                        <div class="asterisk">
                                        <label class="form-label" for="project-thumbnail-img">Thumbnail Image <span>*</span></label>
                                        <input class="form-control" id="project-thumbnail-img" type="file" accept="image/png, image/gif, image/jpeg">
                                    </div>
                                </div> -->
                            </div>

                                    <div class="mb-3">
                                        <div class="asterisk">
                                    <label class="form-label" for="des-info-description-input"><br>Project Description<span> *</span></label>
                                   <textarea class="form-control" placeholder="Enter Description" id="description" rows="6"></textarea>
                                  </div>
                                </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3 mb-lg-0">
                                                <div class="asterisk">
                                                <label for="choices-status-input" class="form-label">Status<span> *</span></label>
                                                <select class="form-select" data-choices data-choices-search-false id="status">
                                                    <option value="Inprogress" selected>In progress</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="asterisk">
                                                <label for="datepicker-deadline-input" class="form-label">Duration<span> *</span></label>
                                                <input type="text" class="form-control" id="duration" placeholder="Enter duration" data-provider="flatpickr">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="asterisk">
                                                <label for="datepicker-deadline-input" class="form-label">Date Started<span> *</span></label>
                                                <input type="date" class="form-control" id="started" placeholder="Enter date started" data-provider="flatpickr">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-lg-4">
                                            <div class="asterisk">
                                                <label class="form-label"><br>Name of Project<span> *</span></label>
                                                <input type="text" class="form-control" id="project-title-input" placeholder="Enter project title">
                                        </div>
                                        </div> -->
                                        <div class="col-lg-4">
                                            <div class="asterisk">
                                                <label class="form-label"><br>Budget<span> *</span></label>
                                                <input type="text" class="form-control" id="budget" placeholder="Enter Budget">
                                        </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="asterisk">
                                                <label class="form-label"><br>Source of Funds<span> *</span></label>
                                                <input type="text" class="form-control" id="source" placeholder="Enter Source of Funds">
                                    </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="clickbutton">
                            <div class="text-end mb-4">
                                <div class="card-body">
                                    <div class="live-preview">
                                        <div class="button-container">
                                            <!-- cancel button with modals -->
                                            <button class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Cancel</button>
                                            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center p-5">
                                                            <div class="mt-4">
                                                                <h4 class="mb-3">Are you sure you want to cancel?</h4>
                                                                <div class="hstack gap-2 justify-content-center">
                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                                                                    <a href="{% url 'profiles' %}" class="btn btn-danger">Yes</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                        <div class="save-button">
                                            <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#firstmodal">Save</button>
                                                    <!-- First modal dialog -->
                                                            <div class="modal fade" id="firstmodal" aria-hidden="true" tabindex="-1">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body text-center p-5">
                                                                            <lord-icon src="https://cdn.lordicon.com/tdrtiskw.json" trigger="loop" colors="primary:#f7b84b,secondary:#405189" style="width:130px;height:130px">
                                                                            </lord-icon>
                                                                            <div class="mt-4 pt-4">
                                                                                <h4>Are you sure you want to save it?</h4>
                                                                             <!-- Toogle to second dialog -->
                                                                             <button class="btn btn-light" data-bs-target="#firstmodal" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                                                             <a href ="{% url 'profiles' %}"class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#secondmodal" id="confirmSubmitBtn">Yes</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Second modal dialog -->
                                                            <div class="modal fade" id="secondmodal" aria-hidden="true" tabindex="-1">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body text-center p-5">
                                                                            <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:150px;height:150px">
                                                                            </lord-icon>
                                                                            <div class="mt-4 pt-3">
                                                                                <h4 class="mb-3">Your forms are succesfully saved!</h4>
                                                                                <div class="hstack gap-2 justify-content-center">
                                                                                    <a href="{% url 'projects' %}"  class="btn btn-light">Close</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                 </div><!-- end save button -->
                                            </div><!-- end button container -->
                                        </div><!-- end live preview -->
                                    </div><!-- end card body (Start button) -->
                                </div> <!--end col lg emergency info-->
                            </div>
                            </div>
                        </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                </div>
                <!-- container-fluid -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/view_proj_prog.css' %}">
{% endblock %}


{% block js%}
 <!-- dropzone js -->
 <script src="{% static 'libs/dropzone/dropzone-min.js' %}"></script>
 <!-- project-create init -->
 <script src="{% static 'js/pages/project-create.init.js' %}"></script>

 <!-- App js -->
 <script src="{% static 'js/app.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   <script>
  $(document).ready(function () {
    
    // Handle the actual form submission in the second modal
    $("#confirmSubmitBtn").unbind('click').click(function (event) {
        event.preventDefault();

        var token = localStorage.getItem('token');
        if (!token) {
            console.error('No token found');
            return;
        }

        // Serialize the form data as JSON
        var formData = {
            title: $('#title').val(),
            projType: $('#projType').val(),
            description: $('#description').val(),
            status: $('#status').val(),
            budget: $('#budget').val(),
            duration: $('#duration').val(),
            started: $('#started').val(),
            source: $('#source').val()
            
            // ... other fields
        };

        $.ajax({
            url: "http://127.0.0.1:8000/projects/add",
            type: "POST",
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json',
            },
            data: JSON.stringify(formData),
            dataType: 'json',
            success: function (response) {
                console.log("Project added successfully");
                // Close the second modal after success
                $('#secondmodal').modal('hide');
            },
            error: function (error) {
                console.error("Error in adding Project:", error.responseText);
            }
        });
    });
});


  // Function to gather form data into an object
  function getFormData() {
            // Create an object to store form data
            var projectData = {
            title: $('#title').val(),
            projType: $('#projType').val(),
            description: $('#description').val(),
            status: $('#status').val(),
            budget: $('#budget').val(),
            duration: $('#duration').val(),
            started: $('#date_started').val(),
            source: $('#source').val()
                






                
                // Add other form fields here
            };

            // Return the object
            return projectData;
        }

//SECURTY
   // Check for the token when the page loads
   document.addEventListener("DOMContentLoaded", function() {
         var token = localStorage.getItem('token');
         if (token) {
             // Show the services content if the token is present
             document.getElementById('whole-content').style.display = 'block';
         } else {
             // Redirect to login if token is not present
             window.location.href = "/login";  // Adjust the login page URL if necessary
         }
     });

  </script>

   {% endblock %}
   {% endblock %}