@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


ul{
	list-style: none;
}
.footer .bitbo_logo {
  text-align: left;
  margin-left: 3%;
  padding-top: 5px;
  position:absolute;

  
}
.bitbo_logo img{
  width: 70%;
  height: 10%;
  margin-top: -4%;
  position:relative;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#95efbd;
  text-align: center;
  height: 100px;
}
.bitboservices{
  font-size: 20px;
	text-decoration: none;
	font-weight: 500;
  margin-top: 2%;
  margin-left: 65%;
  text-align: center;
}
.bitboservices a {
  margin-right: 30px; /* Adjust the value as needed */
  color: navy;
}
.bitboservices a:hover{
  color:red;
  text-decoration: none;
  cursor: pointer;
}
