.square{
    margin-top: -2%;
  
  }
  /* .clear{
    margin-top: -2%;
    margin-left: 25%;
  } */
  .center-div {
    margin-left: 48%;
  }
  body {
    overflow-x: hidden;
  }
  
  .options{
    background-color: #f1f1f1;
    color: black;
    text-align: left;
    cursor: pointer;
  }
th{
  text-align: center;
  width: 20%;
}
.btn-group{
margin-left: 30%;
margin-top: 20%;
}
.asterisk span{
  color: red;
}
