body {
  overflow-x: hidden; /* Hide horizontal scrollbar for the entire page */
}
li a span {
    font-size: medium;
    }
    .asterisk span{
      color: red;
    }

    .button-container {
        display: flex; /* Enable flexbox layout */
        align-items: center; /* Align items vertically in the center */
        margin-left: 80%;
    }
    
    .submit-button {
        width: 10px;
        margin-left: 5px; /* Add some space between the link and the button */
    }
    
  .square {
  height: 80%;
  width: 100%;
  margin-top: 5%;
  margin-left: 25%;

}
.button-container{
  margin-right: -10%;
}
